<%- include('../includes/head.ejs') %>

<div class="background__container">

    <div class="background__container-middle_center">
        <h1>TEST CONNECTION</h1>
        <hr>
        <p>Arango: <%= statusArango %></p>
        <p>Maria: <%= statusMaria %></p>
    </div>
    
</div>

</body>

</html>